
  <div class="keys">
    <div data-key="65" class="key">
      <kbd>A</kbd>
      <span class="sound">clap</span>
    </div>
    <div data-key="83" class="key">
      <kbd>S</kbd>
      <span class="sound">hihat</span>
    </div>
    <div data-key="68" class="key">
      <kbd>D</kbd>
      <span class="sound">kick</span>
    </div>
    <div data-key="70" class="key">
      <kbd>F</kbd>
      <span class="sound">openhat</span>
    </div>
    <div data-key="71" class="key">
      <kbd>G</kbd>
      <span class="sound">boom</span>
    </div>
    <div data-key="72" class="key">
      <kbd>H</kbd>
      <span class="sound">ride</span>
    </div>
    <div data-key="74" class="key">
      <kbd>J</kbd>
      <span class="sound">snare</span>
    </div>
    <div data-key="75" class="key">
      <kbd>K</kbd>
      <span class="sound">tom</span>
    </div>
    <div data-key="76" class="key">
      <kbd>L</kbd>
      <span class="sound">tink</span>
    </div>
  </div>

  <%# <audio data-key="65" src="app/assets/audios/clap.wav"></audio>
  <audio data-key="83" src="app/assets/audios/hihat.wav"></audio>
  <audio data-key="68" src="app/assets/audios/kick.wav"></audio>
  <audio data-key="70" src="app/assets/audios/openhat.wav"></audio>
  <audio data-key="71" src="app/assets/audios/boom.wav"></audio>
  <audio data-key="72" src="app/assets/audios/ride.wav"></audio>
  <audio data-key="74" src="app/assets/audios/snare.wav"></audio>
  <audio data-key="75" src="app/assets/audios/tom.wav"></audio>
  <audio data-key="76" src="app/assets/audios/tink.wav"></audio> %>

  <%= audio_tag "clap.wav", id: "clap-audio" %>
  <%= audio_tag "hihat.wav", id: "hihat-audio" %>
  <%= audio_tag "kick.wav", id: "kick-audio" %>
  <%= audio_tag "openhat.wav", id: "openhat-audio" %>
  <%= audio_tag "boom.wav", id: "boom-audio" %>
  <%= audio_tag "ride.wav", id: "ride-audio" %>
  <%= audio_tag "snare.wav", id: "snare-audio" %>
  <%= audio_tag "tom.wav", id: "tom-audio" %>
  <%= audio_tag "tink.wav", id: "tink-audio" %>

